.custom-file-input::-webkit-file-upload-button{
    visibility:hidden;
}
.totalgrupo{
    font-size:19px;
    font-weight:800;
}
submonto{
line-height: 39px;
}
.item-tag{
    display:inline-block;
    background-color:#F5F5F5;
    padding:2px 8px;
    margin-right:2px;
}
.cabeceragrupo{
    background-color:#F3F3F3;
    display:block;
    padding-bottom:5px;
    padding-top:5px;
    text-align:center;
}
.divisorgrupo{
    width:100%;
    border-bottom:1px dotted #CFC9C9;
    margin-top:4px;
    margin-bottom:4px;
}
.cuadrofoto{
    /* border:3px solid rgb(255, 248, 248); */
    display:inline-block;
    padding:4px;
    /* margin-bottom:20px; */
    /* line-height:1.42857143; */
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;
    -o-transition:border .2s ease-in-out;
    transition:border .2s ease-in-out;
}
.checkbox{
    display:inline-block;    
}
.list-group-item .checkbox{
    position:absolute;
    left:-25px;
    top:19px;
}
#contact-list li>div[class*=col-]{
    padding-right:10px;
    padding-left:10px;
}
.custom-file-input::before{
    content:'Adjuntar';
    display:inline-block;
    background:-webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border:1px solid #999;
    border-radius:3px;
    padding:3px 6px;
    outline:none;
    white-space:nowrap;
    -webkit-user-select:none;
    cursor:pointer;
    text-shadow:1px 1px #fff;
    font-weight:700;
    font-size:10pt;
}
#subir2{
    margin-bottom:13px;
}
input[type=file]{
    display:inline-block;
}
.custom-file-input:hover::before{
    border-color:black;
}
.custom-file-input:active::before{
    background:-webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.espacioControles{
    margin-bottom:5px;
}
.presu{
    display:inline-block; font-size:20px;line-height:34px;
}
.classAdjuntar{
    cursor:pointer;
    display:block;
}
#cab{
    border-bottom:1px solid #e5e5e5
}
.leyenda{
    color:#4a89dc;
    background-color:#F5F5F5;
    height:26px;
    line-height:26px;
    color:rgb(51, 51, 51);
    font-weight:900;
    display:block;
}
.subrayado{
    text-decoration:underline;
}
a{
    color:#091C67;  
}
hr{
    margin-top:0px;
}
#btnCrearTarea, #btnPorAtender,#btnEjecutar, #btnEditarDoc,#btnCorregirPorEvaluar, #btnEvaluarCancelar,#btnCorregirEjecutar,#btnPorAtenderCancelar,#btnCorregirRechazar,#btnRechazar,#btnRechazarEje,#btnSalir,#btnConforme, #btnNoConforme, #btnEvaluarDesap,#btnPorEvaluar{
    margin-bottom:5px;
    width:100%;
}
#btnSalir{
    width:100%;
}

#radioBtn .notActive{
    color:#3276b1;
    background-color:#fff;
}
#lblprioridad{
    display:block;
}
.radio{
    display:inline-block;
}
.espacio5{
    margin-bottom:5px;
    margin-top:5px;

}
.error-notice{
    margin:5px 5px; /* Making sure to keep some distance from all side */
}
.alert-warning{
    background-color:rgba(252, 248, 227, 0.41);
    border-color:#faebcc;
    border:1px solid #E2E2E2;
    border-left:4px solid #8a6d3b;
}
.loading{
    z-index:1999;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    height:100%;
    background-color:rgba(255, 255, 255, .8);
    background-image:url(../img/loading.gif);
    background-repeat:no-repeat;
    background-position:center
}
.cargando{
    z-index:1999;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    height:100%;
    background-color:rgba(255, 255, 255, .8);
    background-image:url(../img/cargando.gif);
    background-repeat:no-repeat;
    background-position:center
}
/* Preloader */
#preloader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}
#status{
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/cargando.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
.checkbox label:after, 
.radio label:after{
    content:'';
    display:table;
    clear:both;
}
.actividad{
    position:relative;
    left:2px;
    top:1px;
}
.responsable{
    color:#c3c3c3;
}
.labelCodigo{
    color:#777575;
    font-weight:700;
}
#contact-list{
    color:black;
    font-size:12px;
}
.labelNomTarea{
    color:black;
    font-weight:300;
    padding-bottom:3px;
    padding-top:3px;
    font-size:16px;
}
.pad3{
    padding-bottom:3px;
    padding-top:3px;
}
@media (max-width:768px){
    .acciones{
        float:right;
    }
}
.circulo{
    width:15px;
    height:15px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    background:#5cb85c;
    position:absolute;
    left:-23px;
    top:0px;
}

.checkbox .cr,
.radio .cr{
    position:relative;
    display:inline-block;
    border:1px solid #a9a9a9;
    border-radius:.25em;
    width:1.3em;
    height:1.3em;
    float:left;
    margin-right:.5em;
}

.radio .cr{
    border-radius:50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon{
    position:absolute;
    font-size:.8em;
    line-height:0;
    top:50%;
    left:20%;
}

.radio .cr .cr-icon{
    margin-left:0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"]{
    display:none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon{
    transform:scale(3) rotateZ(-20deg);
    opacity:0;
    transition:all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon{
    transform:scale(1) rotateZ(0deg);
    opacity:1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr{
    opacity:.5;
}
.form-signin
{
    max-width:330px;
    padding:15px;
    margin:0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom:10px;
}
.form-signin .checkbox
{
    font-weight:normal;
}

.form-signin .form-control
{
    position:relative;
    font-size:16px;
    height:auto;
    padding:10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.form-signin .form-control:focus
{
    z-index:2;
}
.form-signin input[type="text"]
{
    margin-bottom:6px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.form-signin input[type="password"]
{
    margin-bottom:10px;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.account-wall
{
    margin-top:20px;

    background-color:#f7f7f7;

}
.login-title
{
    color:#555;
    font-size:18px;
    font-weight:400;
    display:block;
}
.profile-img
{
    width:197px;
    height:116px;
    margin:0 auto -5px;
    display:block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.need-help
{
    margin-top:10px;
}
.new-account
{
    display:block;
    margin-top:10px;
}
.message-item{
    margin-bottom:25px;

    position:relative;
}
.message-item .message-inner{
    background:#fff;
    border:1px solid #ddd;
    border-radius:3px;
    padding:10px;
    position:relative;
}
.message-item .message-inner:before{
    border-right:10px solid #ddd;
    border-style:solid;
    border-width:10px;
    color:rgba(0,0,0,0);
    content:"";
    display:block;
    height:0;
    position:absolute;
    left:-20px;
    top:6px;
    width:0;
}
.message-item .message-inner:after{
    border-right:10px solid #fff;
    border-style:solid;
    border-width:10px;
    color:rgba(0,0,0,0);
    content:"";
    display:block;
    height:0;
    position:absolute;
    left:-18px;
    top:6px;
    width:0;
}


.clearfix:before, .clearfix:after{
    content:" ";
    display:table;
}
.message-item .message-head{
    border-bottom:1px solid #eee;
    margin-bottom:8px;
    padding-bottom:8px;
}
.message-item .message-head .avatar{
    margin-right:20px;
}
.message-item .message-head .user-detail{
    overflow:hidden;
}
.message-item .message-head .user-detail h5{
    font-size:13px;
    font-weight:bold;
    margin:0;
    line-height:1;
    padding-bottom:2px;
}
.message-item .message-head .post-meta{
    float:left;
    padding:0 15px 0 0;
}
.message-item .message-head .post-meta >div{
    color:#333;
    font-weight:bold;
    text-align:right;
}
.post-meta > div{
    color:#777;
    font-size:12px;
    line-height:22px;
}
.message-item .message-head .post-meta >div{
    color:#333;
    font-weight:bold;
    text-align:right;
}
.post-meta > div{
    color:#777;
    font-size:12px;
    line-height:22px;
}
.post-meta>span{
    display:block;
    line-height:1.2;
    font-size:11px;
}
.qa-message-content{
    border-bottom:1px solid #eee;
    margin-bottom:8px;
    padding-bottom:8px; 
}
.conversation-wrap
{
    box-shadow:-2px 0 3px #ddd;
    padding:0;
    max-height:400px;
    overflow:auto;
}
.conversation{
    padding:5px;
    border-bottom:1px solid #ddd;
    margin:0;
}
.message-wrap{
    box-shadow:0 0 3px #ddd;
    padding:0;
}
.msg{
    padding:5px;
    margin:0;
}
.msg-wrap{
    padding:10px;
    max-height:400px;
    overflow:auto;
}
.time{
    color:#bfbfbf;
}
.send-wrap{
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:10px;
}
.send-message{
    resize:none;
}
.highlight{
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
}
.send-message-btn{
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.btn-panel{
    background:#f7f7f9;
}
.btn-panel .btn{
    color:#b8b8b8;
    transition:0.2s all ease-in-out;
}
.btn-panel .btn:hover{
    color:#666;
    background:#f8f8f8;
}
.btn-panel .btn:active{
    background:#f8f8f8;
    box-shadow:0 0 1px #ddd;
}
.btn-panel-conversation .btn,.btn-panel-msg .btn{
    background:#f8f8f8;
}
.btn-panel-conversation .btn:first-child{
    border-right:1px solid #ddd;
}
.msg-wrap .media-heading{
    color:#003bb3;
    font-weight:700;
}
.msg-date{
    background:none;
    text-align:center;
    color:#aaa;
    border:none;
    box-shadow:none;
    border-bottom:1px solid #ddd;
}
body::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar{
    width:6px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    /*        -webkit-border-radius:10px;
            border-radius:10px;*/
}
/* Handle */
::-webkit-scrollbar-thumb{
    /*        -webkit-border-radius:10px;
            border-radius:10px;*/
    background:#ddd; 
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive{
    background:#ddd; 
}

#mntrs div[class*=col-]{
    padding-right:5px;
    padding-left:5px;
}
#mntrs div[class*=row]{
    margin-right:-5px;
    margin-left:-5px;
}
#mntrs .thumbnail{
    margin-bottom:10px;
}
#mntrs .thumbnail .row div[class*=col-]{

}
#mntrs .thumbnail .row div[class*=col-]:first-child{
    position:relative;
    top:1px;
}
#mntrs .thumbnail .row div[class*=col-]:first-child::after{
    display:block;
    content:"";
    padding-top:79%;
}
#mntrs .thumbnail .row div[class*=col-]:first-child>img{
    position:absolute;
    max-width:90%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
#mntrs .thumbnail .row div[class*=col-]:last-child{
    display:table;
}
#mntrs .thumbnail .row div[class*=col-]:last-child>div{
    display:table-cell;
    vertical-align:middle;
    height:50px;
}
#mntrs p{
    margin:0!important;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    background:#fff;
}
a:hover, a:focus{
    color:#091C67;
    text-decoration:underline;
}
a:hover{
	text-decoration: none!important;
}
#divnoti a{
color:#777;
}
#divnoti a{
padding:0;
}
#divnoti{
    padding: 15px;
    position: relative;
    font-size:12px;
}
#divnoti:before{
    content: "";
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 1px 10px 10px 6px;
    border-color: #EEE transparent rgba(102, 102, 102, 0) transparent;
    top: -10px;
    right: 30px;
    background: url(../img/puntaglobo.png);
    background-position-x: 13px;
	
}
.contResp{
    padding-left:10px;
    border-left:1px solid #e0e1e4;
    margin-left:30px;
}
.btn-resp{
    padding:5px 0;
    border-top:1px solid #eee;
}
.btn-resp a{
    font-weight:500;
}
.spn-avatar{
    width:30px;
    padding:3px;
    background:#e0e1e4;
    margin-right:10px;
}
.responder .form-group{
  margin-bottom:10px
}
.responder i{
  height:24px;
  width:24px;
  font-size:20px;
  float:left;
  display:inline-block;
  margin-right:15px;
  text-align:center;
  line-height:24px;
  -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow:hidden;
    color:#e0e1e4;
    background:#fff;
}

.titulotareo{
    font-size: 16px;
    margin-bottom: 12px;
    text-decoration: underline;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }

.tab-content{padding:9px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

.center-block {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

@media (min-width:992px){
    #contact-list li>div[class*=col-]>div:first-child{
        display:block;
        min-height:35px;
    }
}
@media (max-width:991px){
    #contact-list li>div[class*=col-]:first-child{
        border-bottom:1px solid #ccc;
        margin-bottom:10px;
        padding-bottom:10px;
    }
    #contact-list li>div[class*=col-]>div{
        width:50%;
        float:left;
    }
}
@media (max-width:767px){
    .checkbox{
        display:block;
    }
    #btnEjecutar, #btnSalir,#btnConforme, #btnNoConforme, #btnEvaluarDesap,#btnPorEvaluar{
        width:100%;
        margin-bottom:12px;
    }
    #imglogo{
        display:none;
    }
    #botones{
        float:left!important;
        width:100%;
    }
    #botones>a{
        margin-bottom:4px;
    }
}

#contenedor-drag a.arrastre:hover {
    cursor: move;
}

.pad-top-10, .pad-tops-10, .pad-10 {
    padding-top: 10px !important;
}

.pad-bottom-10, .pad-tops-10, .pad-10 {
    padding-bottom: 10px !important;
}

.pad-left-10, .pad-sides-10, .pad-10 {
    padding-left: 10px !important;
}

.pad-right-10, .pad-sides-10, .pad-10 {
    padding-right: 10px !important;
}

a#selector-l.disabled{
    pointer-events: none;
}