/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on :04/02/2015, 09:39:13 AM
    Author     :dev02
*/

table.main{
    width:100%;
    height:221px;
    table-layout:fixed;
}
table.root{
    table-layout:fixed;
}
table.content{
    table-layout:fixed;
    width:3000px;
}
table.head{
    table-layout:fixed;
    width:3000px;
}
table.frozen{
    table-layout:fixed;
}
td{
    //line-height:28px;
}
div.horizontal-scroll{
    width:100%;
    height:22px;
    overflow:hidden;
    overflow-x:scroll;
    width:-moz-calc(100% - 22px);
    width:-webkit-calc(100% - 22px);
    width:-o-calc(100% - 22px);
    width:calc(100% - 22px);    
}
div.horizontal-scroll div{
    width:2173px;
    height:1px;
}
div.vertical-scroll{
    height:550px;    
    overflow:hidden;
    overflow-y:scroll;    
}
div.vertical-scroll div{
    height:1900px;
    width:1px;
}
.divcabecera{
    padding: 0 23px;
}
td.inner{
    border-left:1px solid rgba(102, 102, 102, 0.44);
    border-bottom:1px solid rgba(102, 102, 102, 0.44);
    padding:0px;
    width:250px;    
}
td.frozencol{
    //border-right:1px double #666;
    width:100%;
}
td.col1{
    border-left:none;
    width:100px;
}
td.bottomcol{
    /*border-bottom:1px solid #666;*/
}
.col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10,.col11,.col12, .col13, .col14, .col15, .col16, .col17, .col18, .col19, .col20,.col21,.col22, .col23, .col24, .col25, .col26, .col27, .col28, .col29, .col30{
    width:100%;
    overflow:hidden;
    text-overflow:ellipses;
    text-align:center;
    line-height:20px;
    //white-space:nowrap;
}
td.head{    
    color:#FFF;
    background-color:#495B79;
    border-top:1px solid #666;
    height:50px;
    padding:0 23px;
}
.rightcol{
    border-right:1px solid #666;
}
.toprow{
    border-top:0px;
}

.DTFC_LeftHeadWrapper .subtitulo,
.dataTables_scrollHeadInner .subtitulo{
    background:#EBEFF2;
    padding:8px 8px 8px 23px!important;
    color: #495b79;
}
div.root{
    margin-left:0px;
    overflow:hidden;    
    height:49px;
    border-bottom:1px solid #666;
}
div.frozen{
    overflow:hidden;    
    height:500px;
}
div.divhead{
    overflow:hidden;
    height:49px;
    width:100%;
    border-left:1px solid #666;
    border-right:1px solid #666; /*border-bottom:0px solid #666;*/
    border-bottom:1px solid #666;
}
div.content{
    overflow:hidden;
    width:100%;
    height:500px;
    border-left:1px solid #666;
    border-right:1px solid #666; /*border-bottom:1px solid #666;*/
}
td.tablefrozencolumn{
    width:14%;    
}
td.tablecontent{
    width:100%;
}
td.tableverticalscroll{
    width:24px;
}
div.ff-fill{
    height:18px;
    height:18px;
    width:18px;
    background-color:#ccc;
    right:0;
    margin-left:6px;
    margin-top:3px;
}