/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/03/2015, 03:33:46 PM
    Author     : VictorB
*/

.itemArchivo{
    background: rgba(128, 128, 128, 0.44);
    display: inline-block;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    font-weight: 500;
    margin: 0 1px 4px;
    overflow-y: hidden;
    padding: 2px 1px 1px 7px;    
    max-width: 448px;
    color: #777777;
    font-size: 12px;
}
.itemArchivo img{
    cursor: pointer;
}

#subir > input:first-child{
    display: none;
}

#subir br{
    display: none;
}